name: Build Android APK

on:
  push:
    branches: ["main"]
    paths-ignore:
      - 'message.txt'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - uses: android-actions/setup-android@v3

      - name: Install SDK
        run: sdkmanager "platforms;android-34" "build-tools;34.0.0"

      - uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.2

      - name: Build Debug APK
        run: gradle assembleDebug
        env:
          APP_GITHUB_TOKEN: ${{ secrets.APP_GITHUB_TOKEN }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: linkmine-android
          path: app/build/outputs/apk/debug/app-debug.apk
